
 <button class="btn btn-default" (click)="addNew()">Add new unit</button>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Symbol</th>
      </tr>
    </thead>
    <tbody>
      
      
      <tr *ngFor="let unit of units; index as i" (click)="seeDetailView(unit)">
        <th scope="row">{{i+1}}</th>
        <td>{{unit.name}}</td>
        <td>{{unit.symbol}}</td>
      </tr>
      
    </tbody>
  </table>

<div [@popOverState]="stateName">  
<app-unit-form (messageEvent)="receiveMessage($event)"></app-unit-form>
</div>