
 <button class="btn btn-default" (click)="addNew()">Add new production attendace type</button>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>

            
      <tr *ngFor="let productionAttendaceType of productionAttendanceTypes; index as i" (click)="seeDetailView(productionAttendaceType)">
        <th scope="row">{{i+1}}</th>
        <td>{{productionAttendaceType.name}}</td>
        <td>{{productionAttendaceType.type}}</td>
      </tr>
      
    </tbody>
  </table>

<div [@popOverState]="stateName">  
<app-production-attendance-type-form (messageEvent)="receiveMessage($event)"></app-production-attendance-type-form>
</div>