<div class = "row">
  <div class = "col-md-4"> 
    <div class="input-group">
      <input type="text" class="form-control searchbar" placeholder="Search Payhead">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Go!</button>
      </span>
    </div>
  </div>
  <div class = "col-md-5"></div>
  <div class = "col-md-3"> 
    <button class="btn btn-primary right-float" (click)="addNew()">New Payhead</button>
  </div>
</div>
<div class="title-center title-margin">
  <h3>Payhead List</h3>
</div>
 
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payhead of payheads; index as i" (click)="seeDetailView(payhead)">
        <th scope="row">{{i+1}}</th>
        <td>{{payhead.name}}</td>
      </tr>      
    </tbody>
  </table>

<div [@popOverState]="stateName">  
<app-payhead-form (messageEvent)="receiveMessage($event)"></app-payhead-form>
</div>