
 <button class="btn btn-default" (click)="addNew()">Add new payhead</button>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      
      
      <tr *ngFor="let payhead of payheads; index as i" (click)="seeDetailView(payhead)">
        <th scope="row">{{i+1}}</th>
        <td>{{payhead.name}}</td>
      </tr>      
    </tbody>
  </table>

<div [@popOverState]="stateName">  
<app-payhead-form (messageEvent)="receiveMessage($event)"></app-payhead-form>
</div>