<div class = "row">
  <div class = "col-md-4"> 
    <div class="input-group">
      <input type="text" class="form-control searchbar" placeholder="Search Designation">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Go!</button>
      </span>
    </div>
  </div>
  <div class = "col-md-5"></div>
  <div class = "col-md-3"> 
    <button class="btn btn-primary right-float" (click)="addNew()">Add New Designation</button>
  </div>
</div>
<div class="title-center title-margin">
  <h3>Designation List</h3>
</div>
 
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let designation of designations; index as i" (click)="seeDetailView(designation)">
      <th scope="row">{{i+1}}</th>
      <td>{{designation.name}}</td>
      <td>{{designation.description}}</td>
    </tr>
  </tbody>
</table>

<div [@popOverState]="stateName">  
<app-designation-form (messageEvent)="receiveMessage($event)"></app-designation-form>
</div>