<div class="row">
  <div class="col-md-6">
      <h1>{{employee.name}}</h1>
  </div>
</div>


<div class="employee-detail-view" *ngIf="employee">
   <div class="name"> 
    Employee Name: {{employee.name}}
   </div>
   <div class="address">
     Address: {{employee.address}}
   </div>
   <div class="date-of-joining">
    Date of Joining: {{employee.date_of_joining}}    
   </div>
   <div class="gender">
    Gender: {{employee.gender}}
   </div>
   <div class="date-of-birth">
    Date of Birth: {{employee.date_of_birth}}
   </div>
   <div class="blood-group">
    Blood Group: {{employee.blodd_group}}
   </div>
   <div class="marital-status">
    Marital Status: {{employee.marital_status}}
   </div>
   <div class="contact">
    Contact: {{employee.contact}}
   </div>
   <div class="email">
    Email: {{employee.email}}
   </div>
   <div class="spousename">
    Spouse Name: {{employee.spouse_name}}
   </div>
   <div class="designation">
    Designation: {{employee.designation.name}}
   </div>
   <div class="package">
    Package: {{employee.peckage.name}}
   </div>
</div>
<button class="btn btn-edit" (click)="edit()">Edit </button>
<div [@popOverState]="stateName">
 <app-employee-form (messageEvent)="receiveMessage($event)" [employee]="employee"></app-employee-form>
</div>