
<div class="container employee-detail-view" *ngIf="employee">
   <div class="name"> 
    {{employee.name}}
   </div>
   <div class="address">
     {{employee.address}}
   </div>
   <div class="date-of-joining">
      {{employee.date_of_joining}}    
   </div>
   <div class="gender">
     {{employee.gender}}
   </div>
   <div class="date-of-birth">
     {{employee.date_of_birth}}
   </div>
   <div class="blood-group">
     {{employee.blodd_group}}
   </div>
   <div class="marital-status">
     {{employee.marital_status}}
   </div>
   <div class="contact">
     {{employee.contact}}
   </div>
   <div class="email">
     {{employee.email}}
   </div>
   <div class="spousename">
     {{employee.spouse_name}}
   </div>
   <div class="designation">
     {{employee.designation}}
   </div>
   <div class="package">
     {{employee.peckage}}
   </div>
</div>
<button class="btn btn-default" (click)="edit()">Edit </button>
<div [@popOverState]="stateName">
 <app-employee-form (messageEvent)="receiveMessage($event)" [employee]="employee"></app-employee-form>
</div>