<div class="modal-wrapper">
  <div class="modal-contain">
     <div class="container">
     
     <div class="form-group" *ngIf="!salarydetail">
      <label for="exampleInputEmail1">Salary detail name</label>
      <input type="text" class="form-control"  [(ngModel)]="newsalarydetailInfo.name" name="newsalarydetailInfo.name"  placeholder="effective date">
    </div>
     <div class="form-group" *ngIf="!salarydetail">
       <label for="exampleInputEmail1">Employee</label>
       <select class="form-control" [(ngModel)]="newsalarydetailInfo.employee" name="newsalarydetailInfo.employee" *ngIf="!salarydetail">
       <option *ngFor="let g of employees" value={{g.id}}> {{g.name}} </option>
       </select>
     </div>
   
    <div class="form-group">
      <label for="exampleInputEmail1">Effective From</label>
      
      <input type="date" class="form-control"  [(ngModel)]="salarydetail.effective_from" name="salarydetail.effective_from" *ngIf="salarydetail"  placeholder="Effecive date">
      <input type="date" class="form-control"  [(ngModel)]="newsalarydetailInfo.effective_from" name="newsalarydetailInfo.effective_from" *ngIf="!salarydetail" placeholder="effective date">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Effective From</label>
      
      <input type="date" class="form-control"  [(ngModel)]="salarydetail.effective_till_date" name="salarydetail.effective_till_date" *ngIf="salarydetail"  placeholder="Effecive till date">
      <input type="date" class="form-control"  [(ngModel)]="newsalarydetailInfo.effective_till_date" name="newsalarydetailInfo.effective_till_date" *ngIf="!salarydetail" placeholder="effective till date">
    </div>

    <button  class="btn btn-primary" (click)="submit()">Submit</button>
    <button  class="btn btn-primary" style="margin-left:20px;" (click)="cancel()">Cancel</button>

    </div>     
  </div>
</div>