
<div class="container employee-detail-view" *ngIf="salarydetailitem">
  <div> 
   {{salarydetailitem.salary_detail}}
  </div>
  <div>
    {{salarydetailitem.priority}}
  </div>
  <div>
     {{salarydetailitem.pay_head}}    
  </div>
  <div>
    {{salarydetailitem.value}}
  </div>
  <div>
    {{salarydetailitem.rate}}
  </div>
  <div>
    {{salarydetailitem.unit}}
  </div>
  
</div>
<button class="btn btn-edit" (click)="edit()">Edit </button>
<div [@popOverState]="stateName">
<app-salarydetailitems-form (messageEvent)="receiveMessage($event)" [salarydetailitem]="salarydetailitem"></app-salarydetailitems-form>
</div>