<div class="modal-wrapper">
  <div class="modal-contain">
     <div class="container">
  
      <div class="form-group">
        <label for="exampleInputEmail1">Salary Details</label>
        <select class="form-control" [(ngModel)]="newsalarydetailitemInfo.salary_detail" name="newsalarydetailitemInfo.salary_detail" *ngIf="!salarydetailitem">
          <option *ngFor="let g of salarydetails" value={{g.id}}> {{g.name}} </option>
        </select>
        <select class="form-control" [(ngModel)]="salarydetailitem.salary_detail" name="salarydetailitem.salary_detail" *ngIf="salarydetailitem">
          <option *ngFor="let g of salarydetails" value={{g.id}}> {{g.name}} </option>
        </select>
      </div>    
      <div class="form-group">
        <label for="exampleInputEmail1">Pay Head</label>
        <select class="form-control" [(ngModel)]="newsalarydetailitemInfo.pay_head" name="newsalarydetailitemInfo.pay_head" *ngIf="!salarydetailitem">
          <option *ngFor="let g of payheads" [ngValue]="g"> {{g.name}} </option>
        </select>
        <select class="form-control" [(ngModel)]="calculation_type.pay_head" name="calculation_type.pay_head" *ngIf="salarydetailitem">
          <option *ngFor="let g of payheads" value={{g}}> {{g.name}} </option>
        </select>
      </div> 
      <div class="form-group">
        <label for="exampleInputEmail1">Priority</label>
        <input type="number" class="form-control"  [(ngModel)]="salarydetailitem.priority" name="salarydetailitem.priority" *ngIf="salarydetailitem" placeholder="Priority">
        <input type="number" class="form-control"  [(ngModel)]="newsalarydetailitemInfo.priority" name="newsalarydetailitemInfo.priority" *ngIf="!salarydetailitem" placeholder="Priority">
      </div>
      <div *ngIf="newsalarydetailitemInfo.pay_head && newsalarydetailitemInfo.pay_head.calculation_type != 'Flat Rate' &&  newsalarydetailitemInfo.pay_head.calculation_type != 'As Computed Value' ">
      <div class="form-group" >
        <label for="exampleInputEmail1">Value</label>
        <input type="number" class="form-control"  [(ngModel)]="salarydetailitem.value" name="salarydetailitem.value" *ngIf="salarydetailitem" placeholder="Value">
        <input type="number" class="form-control"  [(ngModel)]="newsalarydetailitemInfo.value" name="newsalarydetailitemInfo.value" *ngIf="!salarydetailitem" placeholder="Value">
      </div>
    
      <div class="form-group">
        <label for="exampleInputEmail1">Rate</label>
        <input type="number" class="form-control"  [(ngModel)]="salarydetailitem.rate" name="salarydetailitem.rate" *ngIf="salarydetailitem" placeholder="Rate">
        <input type="number" class="form-control"  [(ngModel)]="newsalarydetailitemInfo.rate" name="newsalarydetailitemInfo.rate" *ngIf="!salarydetailitem" placeholder="Rate">
      </div>
      
      <div class="form-group">
        <label for="exampleInputEmail1">Units</label>
        <select class="form-control" [(ngModel)]="newsalarydetailitemInfo.unit" name="newsalarydetailitemInfo.unit" *ngIf="!salarydetailitem">
          <option *ngFor="let g of units" value={{g.id}}> {{g.name}} </option>
        </select>
        <select class="form-control" [(ngModel)]="newsalarydetailitemInfo.unit" name="newsalarydetailitemInfo.unit" *ngIf="salarydetailitem">
          <option *ngFor="let g of units" value={{g.id}}> {{g.name}} </option>
        </select>
      </div>
      </div> 
      <button  class="btn btn-success" (click)="submit()">Submit</button>
      <button  class="btn btn-danger" style="margin-left:20px;" (click)="cancel()">Cancel</button>

    </div>     
  </div>
</div>
