<div class="row">
  <div class="col-md-6">
    <h2>Attendance List</h2>
  </div>
</div>
<div class="row">
  <button class="btn btn-primary" (click)="addNew()">Add new Attendance</button>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Production Attendance Type</th>
        <th scope="col">Value</th>
        <th scope="col">Unit</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      
      
      <tr *ngFor="let attendance of attendances; index as i" (click)="seeDetailView(attendance)">
        <th scope="row">{{i+1}}</th>
        <td>{{attendance.employee}}</td>
        <td>{{attendance.production_attendance_type}}</td>
        <td>{{attendance.value}}</td>
        <td>{{attendance.unit}}</td>
        <td>{{attendance.date}}</td>
      </tr>
      
    </tbody>
  </table>
</div>

<div [@popOverState]="stateName">  
<app-attendance-form (messageEvent)="receiveMessage($event)"></app-attendance-form>
</div>
