<div class = "row">
  <div class = "col-md-4"> 
    <div class="input-group">
      <input type="text" class="form-control searchbar" placeholder="Search Attendance">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Go!</button>
      </span>
    </div>
  </div>
  <div class = "col-md-5"></div>
  <div class = "col-md-3"> 
    <button class="btn btn-primary right-float" (click)="addNew()">Add New Attendance</button>
  </div>
</div>
<div class="title-center title-margin">
  <h3>Attendance List</h3>
</div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Employee</th>
        <th scope="col">Attendance Type</th>
        <th scope="col">Value</th>
        <th scope="col">Unit</th>
      </tr>
    </thead>
    <tbody>
      
      
      <tr *ngFor="let attendance of attendances; index as i" (click)="seeDetailView(attendance)">
        <th scope="row">{{i+1}}</th>
        <td>{{attendance.employee.name}}</td>
        <td>{{attendance.production_attendance_type.name}}</td>
        <td>{{attendance.value}}</td>
        <td>{{attendance.unit.name}}</td>
      </tr>
      
    </tbody>
  </table>


<div [@popOverState]="stateName">  
<app-attendance-form (messageEvent)="receiveMessage($event)"></app-attendance-form>
</div>
