
<div class="" *ngIf="payhead">
    <div>{{payhead.name}}</div>
    <div>{{payhead.description}}</div>
    <div>{{payhead.add_net_salary}}</div>
    <div>{{payhead.calculation_type}}</div>
    <div>{{payhead.calculation_period}}</div>
    <div>{{payhead.pay_head_type}}</div>
    <div>{{payhead.attendence_production_type}}</div>
    <div>{{payhead.add_or_deduct}}</div>
    <div>{{payhead.under}}</div>
</div>
<button class="btn btn-edit" (click)="edit()">Edit </button>
<div [@popOverState]="stateName">  
<app-payhead-form (messageEvent)="receiveMessage($event)" [payhead]="payhead"></app-payhead-form>
</div>