/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
.content
{
    margin-left: 300px;
    padding: 30px;
    
}
.modal-wrapper
{
    position: fixed;
    background-color: rgba(206, 206, 206, 0.53);
    width:calc(100% - 300px);
    height: 100%;
    top:0px;
    padding: 100px;
    margin-left:-30px;
}
.modal-contain
{
    margin: auto;
    max-width: 500px;
    background: white;
    padding: 30px;
}