/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import '~bootstrap/dist/css/bootstrap.min.css';

.modal-wrapper
{
    position: fixed;
    background-color: rgba(206, 206, 206, 0.53);
    width:calc(100% - 300px);
    height: 100%;
    top:0px;
    padding: 100px;
    margin-left:-30px;
    overflow-y: auto;
}
.modal-contain
{
    margin: auto;
    max-width: 500px;
    background: white;
    padding: 30px;
}
.btn{
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-edit{
    background: #26B99A !important;
    border: 1px solid #169F85 !important;
}
.btn-edit:hover{
    background: #169F85 !important;
}
