<div class="modal-wrapper">
  <div class="modal-contain">
     <div class="container">
    
  <div class="form-group">
    <label for="exampleInputEmail1">productionAttendaceType name</label>
    
    <input type="text" class="form-control"  [(ngModel)]="productionAttendaceType.name" name="productionAttendaceType.name" *ngIf="productionAttendaceType"  placeholder="name">
    <input type="text" class="form-control"  [(ngModel)]="newProductionAttendaceTypeInfo.name" name="newproductionAttendaceTypenfo.name" *ngIf="!productionAttendaceType" placeholder="name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">productionAttendaceType type</label>
    <input type="text" class="form-control"  [(ngModel)]="productionAttendaceType.type" name="productionAttendaceType.type" *ngIf="productionAttendaceType"  placeholder="typee">
    <input type="text" class="form-control"   [(ngModel)]="newProductionAttendaceTypeInfo.type" name="newProductionAttendaceTypeInfo.type" *ngIf="!productionAttendaceType" placeholder="Address">
  </div>
  <button  class="btn btn-primary" (click)="submit()">Submit</button>

</div>     
  </div>
</div>